/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASIC PAGE STYLE */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fcecf4; 
    color: #222;
    line-height: 1.6;
}

/* HEADER */
header {
    background-color: #d63384;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

/* SECTIONS */
.section {
    width: 80%;
    margin: auto;
    padding: 40px 0;
    text-align: center;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #c2185b;
}

/* ABOUT */
.profile-img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 6px solid #d63384;
}

#about p {
    font-weight:bold;   
    font-style:oblique;    
    background-color: #ffe6f2; 
    padding: 15px;            
    border-radius: 10px;    
    line-height: 1.8;         
}


/* PROJECTS */
.project-card {
    background: white;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px #e3aac4;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* CONTACT FORM */
label {
    font-weight: bold;
    margin: 10px 0 5px;
    display: block;
}

#contactForm {
    background-color: #ffe6f2;
    width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #e6a3c4;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d48ab8;
    margin-bottom: 10px;
}

/* BUTTON */
#submit {
    width: 100%;
    padding: 12px;
    background-color: #e91e63;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

#submit:hover {
    background-color: #c2185b;
}

/* FOOTER */
footer {
    background-color: #d63384;
    color: white;
    text-align: center;
    padding: 20px;
}

.socials a {
    margin: 0 10px;
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

.socials a:hover {
    color: #ffb6d9;
    transform: scale(1.2);
}

/* RESPONSIVE */
@media (max-width: 600px) {
    #contactForm, .project-card {
        width: 90%;
    }
    nav ul {
        flex-direction: column;
        gap: 15px;
    }
}
